<div class="row">
    <div class="col-xs-12">
        <img src="{{recepieCrt.imagePath}}" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recepieCrt.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="btn-group" appDropDown>
        <button class="btn btn-primary dropdown-toggle">
            مدیریت دستور غذا
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <a style="cursor: pointer" (click)="addToShopingList()">
                    افزودن مواد غذا
                </a>
                <a style="cursor: pointer" (click)="onEditeRecepie()">
                    ویرایش دستور غذا
                </a>
                <a style="cursor: pointer" (click)="onCancil()">
                    حذف دستور غذا
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepieCrt.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>
            مواد غذایی
        </h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingridients of recepieCrt.ingeridient">
                {{ingridients.name}}({{ingridients.amount}})
            </li>
        </ul>
    </div>
</div>