<div class="row">
    <div class="col-xs-12">
        <form [formGroup] = "editForm" (ngSubmit)="onsubmit()">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-danger" style="margin-right: 5px;" (click)="onCancil()">لغو</button>
                <button type="submit" class="btn btn-success">ذحیره</button
            ></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title">عنوان</label>
                    <input id="title" class="form-control" type="text" formControlName = "name">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="imagePath">تصویر</label>
                    <input id="imagePath" class="form-control" type="text" formControlName = "imagePath">
                    <img [src]="editForm.get('imagePath').value" alt="عکس" style="max-width: 100%; margin-top: 10px;">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="description">توضیحات</label>
                    <textarea id="description" class="form-control" rows = "6" type="text" formControlName = "description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" formArrayName = "ingridients">
                <div class="row" style="padding-top: 10px;" *ngFor="let ingridient of editForm.get('ingridients')['controls']; let i = index" [formGroupName]=i>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" formControlName="amount">
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-danger" (click)="onDeleteIngridient(i)">X</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="button" (click)="addIngridient()">
                            افزودن مواد غذایی
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>